.item-card {
  box-shadow: var(--main-shadow);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 0;
  grid-column: 1 span;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    height: auto;
    aspect-ratio: 3 / 2;
  }
  &__name {
    width: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.8rem;
    background-color: var(--color-white);
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    box-shadow: var(--shadow-up);
    padding: var(--border-radius);

    transform: none;

    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: $breakpoint-lg) {
  .item-card {
    &__name {
      top: 100%;
      bottom: initial;
      transform: translate(-100%, 0);
    }
    &:hover {
      box-shadow: var(--main-shadow-hover);
      scale: 1.05;

      .item-card__name {
        transform: translate(0, -100%);
      }
    }
  }
}
