.navbar {
  background-color: rgb(var(--background-end-rgb));
  box-shadow: var(--main-shadow);
  height: var(--navbar-height);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  &,
  &__wrapper,
  &__items {
    display: flex;
    align-items: center;
  }
  &__wrapper {
    justify-content: space-between;
  }
  &__items {
    gap: 24px;
  }
}
