@import "../styles/index.scss";

:root {
  /* radius */
  --border-radius-soft: 4px;
  --border-radius: 12px;
  --border-radius-hard: 24px;

  /* shadow */
  --main-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
  --main-shadow-hover: 0px 6px 15px 0px rgba(0, 0, 0, 0.3);
  --shadow-up: 0px -5px 13px 0px rgba(0, 0, 0, 0.1);

  /*  navbar*/
  --navbar-height: 75px;

  /* colors */
  --color-primary: #032539;
  --color-secondary: #1c768f;
  --color-highlight: #fa991c;
  --color-neutral-100: #000;
  --color-neutral-border: #ccc;
  --color-neutral-disabled: #555;
  --color-neutral-0: rgb(250, 250, 250);
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  accent-color: var(--color-primary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-0);
}

a {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
}
