.search-results {
  &__results {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .search-results {
    &__results {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1080px) {
  .search-results {
    &__results {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
