.input-text {
  padding: 8px;
  border-radius: var(--border-radius-soft);
  border: 1px solid var(--color-neutral-border);
  background-color: var(--color-white);
  box-shadow: var(--main-shadow);
  outline: none;

  font-size: 16px;

  &.textarea {
    resize: none;
    height: 6rem;
  }
  &:focus-visible {
    border-color: var(--color-primary);
  }
}
