.navbar {
  background-color: var(--color-neutral-0);
  box-shadow: var(--main-shadow);
  height: var(--navbar-height);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  &,
  &__wrapper,
  &__items {
    display: flex;
    align-items: center;
  }
  &__wrapper {
    justify-content: space-between;
    gap: 24px;
  }
  &__items {
    gap: 24px;
    display: none;
    &__item {
      &--active {
        font-weight: 700;
        color: var(--color-secondary);
      }
    }
  }
}
@media (min-width: $breakpoint-lg) {
  .navbar {
    &__items {
      display: flex;
    }
    &__burger {
      display: none;
      cursor: pointer;
    }
  }
}
